<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pan123 Web 工具 - 导入到私人网盘 - GitHub@realcwj</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container main-container">
        <div class="blur-backdrop"></div>
        <div class="content-card shadow">
            <div class="d-flex justify-content-between align-items-center mb-4">
                 <h2 class="card-title">导入到私人网盘</h2>
                <a href="{{ url_for('index') }}" class="btn btn-sm btn-outline-secondary">返回首页</a>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('import_form') }}" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="username" class="form-label">手机号/邮箱</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">密码</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="filePath" class="form-label">选择 .123share 文件</label>
                    <input type="file" class="form-control" id="filePath" name="filePath" accept=".123share" required>
                    <div class="form-text">选择 .123share 文件进行导入。</div>
                </div>
                <div class="form-text">提示：导入文件数量过多，速度会比较慢，此时建议本地部署运行，可以实时查看进度。</div>
                <div class="form-text">例如：导入5000个文件大约需要30分钟。</div>
                <div class="form-text">您也可以关闭网页，导入过程会在后台继续进行。</div>
                <button type="submit" class="btn btn-success custom-btn w-100">开始导入</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>